* {
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(145deg, rgb(8, 36, 64), purple);
}
.container {
  margin: auto;
  padding: 16px;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.name {
  text-align: center;
  font-size: 10rem;
}
.input-box {
  width: 100%;
}
textarea {
  height: 300px;
  width: 100%;
  font-size: 2rem;
  resize: none;
  border-color: #fff;
  background-color: rgba(8, 18, 79, 0.5) !important;
  padding: 8px;
}
.res-board {
  height: 500px;
  width: 100%;
  font-size: 2rem;
  color: white;
  resize: none;
  border-color: #fff;
  background-color: rgba(8, 18, 79, 0.5) !important;
  padding: 8px;
  overflow: scroll;
}
.command-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  font-size: 1.3rem;
}

.command-box > input {
  width: 200px;
  background-color: rgba(8, 18, 79, 0.5);
  border: 2px solid green;
  padding: 8px;
}
.command-box > input:hover {
  background-color: rgba(0, 128, 0, 0.7);
  cursor: pointer;
  border: 2px solid rgba(8, 18, 79, 0.5);
}
